.header{
  grid-area: h;
  border-bottom: 4px solid #D99F3D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2{
  text-align: right;
  color: #D99F3D;
  margin:10px 10px 0;
  font-weight: normal;
  letter-spacing: -2px;
  cursor: pointer;
}
.loginBlock a{
  color: #3B4B54;
  text-decoration: none;
  border: 1px solid #D99F3D;
  border-radius: 50%;
  padding: 20px;
}
