.banner img {
    width: 100%;
    height: 600px;
}
.banner {
    position: relative;
 
}

h1 {
    padding: 10px;
    color: #3B4B54;
    font-weight: lighter;
    position: absolute;
    top: 30%;
    left: 35%;
}
.mainPhoto{
    max-width:200px;
    border-radius: 50%;
    margin: 10px;
}