.formControl.error input,
.formControl.error textarea{
   outline:solid red 1px;
    
}

.formControl.error span{
    color: red;
}
.formControl input{
    margin:10px;
    padding: 10px;
}
button{
    margin: 10px;
    padding: 10px;
    
}